<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al VoiceBot de Cobranza</title>
    <link rel="stylesheet" href="../static/preview.css">
</head>
<body>
    <div class="preview-container">

        <!-- Logo -->
        <img src="../utils/logo.png" alt="Logo" class="logo">
        
        <!-- Título -->
        <h1 class="main-title">VoiceBot de Cobranza</h1>
        
        <!-- Botón de redirección -->
        <button class="enter-button" onclick="irAlVoiceBot()">Ir al VoiceBot</button>
    </div>

    <script src="preview.js"></script>
</body>
</html>
